@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0a0c0d;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
